<div>
	<div data-dojo-attach-point="mapNode">
	
		<nav>
			<div class="appTitleText">
				International Space Station Tracker
			</div>
			<!-- <span class="appSubtitleText">
				Find the ISS and explore NASA astronaut photos. Start by clicking something!
			</span> -->
			<div class="issButtonBar">
				<div class="globe" data-dojo-attach-point="globeNode">
				</div>
				<div class="issTracker" data-dojo-attach-point="issTrackerNode">
				</div>
			</div>
		</nav>

		<!-- <div class="geocoder" data-dojo-attach-point="geocoderNode">
		</div> -->
		<div class="locateButton" data-dojo-attach-point="locateNode">
		</div>

		<div class="creds">
			<a href="https://twitter.com/JWasilGeo" target="_blank">@JWasilGeo</a>
		</div>

	</div>
</div>