<div>
	<button class="largerButton" data-dojo-attach-event="onclick:openContainer" title="See it on a globe">
		<i class="icon-globe largerButtonIcon"></i>
	</button>
	<div class="globeDialog" data-dojo-type="dojox/widget/Dialog" sizeToViewport="true" data-dojo-attach-point="globeDialog">
		<i class="icon-remove closeButton whiteIcon" data-dojo-attach-point="closeXButton" data-dojo-attach-event="onclick:closeContainer" title="Close"></i>
			<div data-dojo-attach-point="svgTargetNode" class="darkTheme">
		</div>
	</div>
</div>